.mid-container{
    background-color: lightsteelblue;
}

.mid-container:hover{
    background-color: black;
    transition-duration: 4s;
}
.top-container{
    background-color: #FAFAFA;
}
.top-container:hover{
    background-color:;
}
.top-Container1{
    background-color: #FAFAFA;
}
.top-Container1:hover{
    background-color:;
}
